/vendor
/node_modules
.env
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/public/vendor/core/
/lang/vendor/*
/bootstrap/cache
Homestead.json
Homestead.yaml
.docker-compose.override.yml
docker-compose.override.yml
